{% extends "mails/base.html" %}

{% block title %}Your Thoughts Matter 🫶 Review Your CassPea Experience{% endblock %}

{% block hero %}
    <h1 style="color: #000;">Hope you enjoyed our Chocolates 🍫</h1>
    <p style="color: #000; font-size: 20px;">We’d love your feedback!</p>
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <a href="https://uk.trustpilot.com/review/www.casspea.co.uk?utm_medium=email&utm_source=RequestReview" target="_blank">
            <img src="https://mcusercontent.com/0e6dd8383ed264ebc83f2eecf/images/1cd725ce-2c4b-7750-f0ae-d30d275114aa.jpg" alt="Leave a Trustpilot Review" style="width:100%; max-width:660px; border-radius:8px; margin-bottom: 24px;"/>
        </a>
        <p style="color: #2b2c2e; font-size: 20px; line-height: 1.5; margin-bottom: 24px;">
            At CassPea, we’re passionate about crafting the finest artisan chocolates. If you’ve enjoyed your experience with us, we’d be grateful if you could share your thoughts on Trustpilot. Your feedback helps us grow and keeps the chocolate flowing!
        </p>
        <a href="https://uk.trustpilot.com/review/www.casspea.co.uk?utm_medium=email&utm_source=RequestReview" target="_blank" style="background-color:#ff1ab1; color:#fff; border-radius:50px; padding:16px 28px; font-size:18px; font-family:'DM Sans', 'Inter', sans-serif; text-decoration:none; display:inline-block; margin-bottom: 32px; letter-spacing: 1px;">Leave a Review</a>
        <div style="margin: 32px 0;">
            <a href="https://mcusercontent.com/0e6dd8383ed264ebc83f2eecf/images/7888b5fb-69d2-6355-ab27-49b413051e93.png" target="_blank">
                <img src="https://mcusercontent.com/0e6dd8383ed264ebc83f2eecf/images/7888b5fb-69d2-6355-ab27-49b413051e93.png" alt="Trustpilot Stars" style="width: 230px; max-width: 100%; margin: 0 auto; display: block;"/>
            </a>
        </div>
        <a href="https://uk.trustpilot.com/review/www.casspea.co.uk?utm_medium=email&utm_source=RequestReview" target="_blank">
            <img src="https://mcusercontent.com/0e6dd8383ed264ebc83f2eecf/images/21147d62-e2ee-ee76-f8dd-ecae560c023d.jpeg" alt="CassPea Chocolates" style="width:100%; max-width:660px; border-radius:8px; margin-bottom: 24px;"/>
        </a>
        <h2 style="color: #ff62b4; font-size: 30px; margin-top: 32px;">Thank you very much</h2>
        <div style="margin-top: 32px;">
            <a href="https://www.instagram.com/casspea_/" target="_blank" style="margin: 0 8px;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v3/block-icons-v3/instagram-icon-light-40.png" alt="Instagram" width="24" height="24" style="vertical-align: middle;"/>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61550296948703" target="_blank" style="margin: 0 8px;">
                <img src="https://cdn-images.mailchimp.com/icons/social-block-v3/block-icons-v3/facebook-icon-light-40.png" alt="Facebook" width="24" height="24" style="vertical-align: middle;"/>
            </a>
        </div>
    </div>
{% endblock %}
